.CategoryWrapper{
    margin-top: 30px;
    margin-bottom: 40px;
}
.categoryMainDiv{
    display: flex;
    width: 90%;
    margin: 0 auto;
 
}


.categorySidebar{
    display: flex;
    
}

.categoryInnerDiv1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
   
}



.categoryInnerDiv2{
    margin-top: 10px;
    padding: 20px;
    width: 250px;
    border: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
}

#categoryCheckbox{
    color: black;
}
#categoryInnerDiv1D1{
    font-size: 20px;
    font-weight: bold;
}


#categoryCheckbox{
    margin-right: 5px;
}

#catName{
    font-size: 17px;
    margin-top: -2px;
}

.categoryInnerDiv3{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}

@media (max-width : 600px) {
   .categoryInnerDiv1{
    width: 30%;
    margin-right: 20px;
   }

   .categoryInnerDiv2{
    padding-left: 5px;
    border: none;
    padding-right: 10px;
   }

   .categoryMainDiv{
    justify-content: space-between;
   }
    
    
}
