.ResetPassWrapperClass{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fafe;
    height: 90vh;
    width: 100%;

}

.ResetPassInnerDiv1{
    height: 350px;
    width: 350px;
    background-color: white;
    box-shadow: 1px 1px 15px gray;
    padding: 20px;
    border-radius: 5px;

}

#resetPassLockImg{
    height: 125px;
    margin: 0 auto;
}

.resetinputDiv{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 10px;
}

.Pass{
    height: 40px;
    background-color: #d7e2f4;
    border: transparent;
    padding-left: 20px;
    border-radius: 3px;
}

#resetPassButton{
    background-image: linear-gradient(to right, #179bff, #1767ff);
    padding: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 70px;

}